server:
  port: 9000
spring:
  application:
    name: "cards"
  profiles:
    active: "prod"
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console.enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
  config:
    import: "optional:configserver:http://localhost:8071/"

rabbitmq:
  host: "localhost"
  port: 15672
  username: "guest"
  password: "guest"

management:
  endpoints:
    web:
      exposure:
        #Enable all endpoints in actuator
        #After we do actuator referesh ,all new changes will be applied
        include: "*"